body {
  background-color: #02010a;
  font-family: 'DancingScript-bold', cursive;
  font-size: 24px;
  text-shadow: 2px 4px 2px #02010a;
}
.contenedor{
  margin: auto;
  width: 900px;
  -webkit-animation: animate 1s;
}
header {
  width: 100%;
  background-color: #5b7989;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 #page1 .link1, #page2 .link2, #page3 .link3{
   text-decoration: none;
 }
a{
  color: inherit;
  padding-right: 15px;
}
a[href]:hover{
  text-decoration: none;
}
.text {
  margin-left: 15px;
}
.imagen{
 padding-top:  1px;
 width: 100%;
 background-color: #82c3a6;
}
figure {
  width: 50%;
  margin: auto;
}
.imagen, figure{
  padding-top: 10px;
  padding-bottom: 10px;
}
 img {
  width: 100%;
  height: 100%;
 box-shadow: 2px 2px 2px #02010a;
}
section {
  background-color:  #d5c75f;
  display: flex;
}
.sec {
  width: 50%;
  padding: 30px;
}
.imagen1 {
  -webkit-filter: blur(10px);
}
.imagen2, .imagen4, .imagen6 {
  -webkit-filter: grayscale(100%);
  -moz-webkit-filter: grayscale(100%);
  -o-webkit-filter: grayscale(100%);
}
.imagen3{
  -webkit-filter: sepia(90%);
  -moz-webkit-filter: sepia(90%);
  -o-webkit-filter: sepia(90%);
}

#sec1:hover{
-webkit-transform: rotate(10deg);
-moz-transform: rotate(10deg);
-o-transform: rotate(10deg);
box-shadow: 2px 2px 2px #82c3a6;

}
#sec2:hover {
  -webkit-transform: translate(20px,-5px);
  -moz-transform: translate(20px,-5px);
  -o-transform: translate(20px,-5px);
  box-shadow: 2px 2px 2px #82c3a6;
}
footer {
  background-color: #C6d5c5;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
}
footer .pie {
  width: 25%;
  text-shadow: none;
  font-size: 20px;
  margin-left: 20px;
}
@media screen and (max-width: 900px){
  header {
    display: block;
    text-align: center;
  }
 figure {
   width: 80%;
 }
 section  {
   flex-wrap: wrap;
 }
 .contenedor {
   width: 100%;
 }
 .sec {
   width: 100%;
 }
 footer {
   flex-direction: column;
   align-items: flex-start;
   padding-left: 10px;
   font-size: 16px;
 }
}
@-webkit-keyframes animate {
  from{
    margin-top: 150%;
  }
  to{
    margin-top: -5%;
  }
}
